/*FONTS*/

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}


/*BASE*/

html {
    background-color: #22252c;
    min-height: 100%;
    overflow-y: hidden;
}

html * {
    font-family: 'Poppins';
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #22252c;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0px;
}

header {
    height: 75px;
    background-color: black;
}


/* .logo-container {
    height: 100%;
    margin-left: 20px;
} */

.logo-container:hover {
    cursor: pointer;
}

.logo {
    height: 100%;
}

.logo:hover {
    cursor: pointer;
}

footer {
    bottom: 0px;
    width: 100%;
    height: 5%;
    text-align: center;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-content {
    height: 80%;
    width: 90%;
}

.design-interface,
.gallery,
.saved-memes {
    border-radius: 20px;
}

.popup-modal {
    height: 200px;
    width: 200px;
    background-color: #383B42;
    color: #fefefe;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #0c98b9;
    border-radius: 15px;
    opacity: 0;
    transition: top .6s, opacity .6s;
}

.popup-modal span {
    text-align: center;
}

.modal-shown {
    top: 50%;
    opacity: 100;
}

.screen {
    opacity: 0;
    transition: opacity .3s;
}

.screen-shown {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0%;
    left: 0%;
    opacity: 100;
    background-color: rgba(50, 50, 50, 0.4);
}

.test-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*NAV*/

nav {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    height: 10%;
    width: 95%;
    margin: 0.625rem auto;
    border-radius: 40px;
    padding: 10px 20px;
}

.nav-ul {
    width: 100%;
    max-width: 50%;
    min-width: fit-content;
    padding: 0px;
}

.nav-li {
    display: flex;
    color: #fefefe;
    font-size: 1.5rem;
    width: 9.375rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.nav-li span {
    vertical-align: middle;
}

.nav-li:hover {
    background-color: #fff;
    color: #88d2c4;
    cursor: pointer;
}

.curr-page {
    background-color: #fff;
    color: #88d2c4;
}


/*GALLERY*/

.gallery {
    background-color: #383b42;
    height: 100%;
}

.search-container {
    height: 10%;
    padding-top: 10px;
}

.search-bar {
    height: 50px;
    width: 40%;
    border-radius: 10px;
    background-color: #22252c;
    color: #76777c;
    border: 0px;
    padding-left: 20px;
}

.search-btn {
    width: 20%;
    height: 50px;
    font-size: 1rem;
    overflow: wrap;
}

.list-container {
    height: 50px;
    width: 50%;
}

.keyword-list {
    padding: 0px;
    align-items: center;
    box-shadow: 0 4px 2px -2px grey;
    border-radius: 10px;
    background-color: #87898d;
    color: #fefefe;
    height: 50px;
    width: 85%;
}

.drop-down-list {
    padding: 0px;
    max-height: 0px;
    position: absolute;
    width: 10%;
    right: 3.5%;
    visibility: hidden;
    opacity: 0;
    transition: max-height .8s ease-out, opacity .3s;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 2px -2px grey;
}

.drop-down-list.toggled {
    opacity: 100;
    max-height: 100%;
    visibility: visible;
}

.drop-down-list li {
    background-color: #87898d;
    padding: 10px 0px;
}

.search-li:hover {
    color: #21ac91;
}

.more-keys {
    width: 10%;
    height: 50px;
    padding: 0px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    color: #fefefe;
    border-radius: 18px;
    border: 0px;
}

.more-keys:active {
    background-image: none;
    background-color: #30d38f;
}

.mobile-drop-down {
    display: none;
}

.grid {
    display: grid;
    padding: 20px;
    height: 100%;
    grid-gap: 20px;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, 250px);
}

.gallery-grid-container,
.saved-memes {
    height: 90%;
    overflow-y: scroll;
}

.img-details {
    position: relative;
    bottom: 257px;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1;
    height: 250px;
    width: 250px;
    background-color: rgba(26, 25, 25, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.gallery-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 4px -2px #26282d;
}

.gallery-item:hover .img-details {
    visibility: visible;
    opacity: 100;
}


/*MEME EDITOR*/

.design-interface {
    background-color: #22252c;
    min-height: 100%;
    max-height: 100%;
    padding: 1%;
}

.canvas-container {
    position: relative;
    overflow: hidden;
    display: block;
    width: 70vh;
    height: 70vh;
    border-radius: 20px;
}

#canvas {
    object-fit: contain;
}

.design-buttons {
    height: 75vh;
    align-self: center;
    width: 40%;
    background-color: #383b42;
    box-shadow: 0 6px 2px -2px #33363e;
    border-radius: 20px;
    font-size: 1.5625rem;
}

.move-and-size {
    width: 90%;
    height: 60px;
    align-items: center;
    background-color: #19a59f;
    border-radius: 10px;
}

.move-and-size * {
    height: 50px;
    width: 50px;
    padding: 0px;
}

.menu-btn {
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 6px 2px -2px grey;
    background-color: #fefefe;
}

.menu-btn:active {
    background-color: #34e6dd;
}

.btn-img {
    height: 70%;
    width: 70%;
}

.save-and-upload {
    width: 90%;
    height: 50px;
}

.save-btn {
    background-color: #1e7cd3;
    color: #fefefe;
    font-size: 1.5rem;
    width: 40%;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0 6px 2px 0px #165c9c, 0 -6px 2px 0px #57b2e8;
}

.download-btn {
    background-color: #8f44bb;
    color: #fefefe;
    font-size: 1.5rem;
    width: 40%;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0 6px 2px 0px #632687, 0 -6px 2px 0px #bf84da;
}

.line-text {
    width: 90%;
    text-align: center;
    padding: 10px 0px;
    font-size: 1.5625rem;
    border-radius: 10px;
    box-shadow: 0 4px 2px -2px grey;
}

.switch-line {
    height: 30px;
    width: 30px;
}

.sticker-select-list {
    padding: 10px 0px;
    overflow-x: scroll;
    height: 70px;
    background-color: #fff;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
}

.add-sticker-icon {
    height: 50px;
    width: 50px;
}

.add-sticker-icon:not(:first-child) {
    margin-left: 10px;
}

.color-picker {
    position: relative;
}

.color-picker img {
    position: absolute;
}

.color-picker input {
    z-index: 1;
    opacity: 0;
}


/*HELPERS*/

.clean-list {
    list-style-type: none;
}

.no-select {
    user-select: none;
}


/*FLEX HELPERS*/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.self-center {
    align-self: center;
}

.justify-center {
    justify-content: center;
}


/*MEDIA QUERIES*/

@media(max-width: 1260px) {
    .in-editor .main-content {
        overflow-y: scroll;
    }
    .design-interface {
        flex-direction: column;
        align-items: center;
        min-height: 1100px;
    }
    .canvas-container {
        min-height: 60vw;
        height: 60vw;
        width: 60vw;
    }
    .design-buttons {
        margin-top: 10%;
        min-height: 80%;
        max-height: 80%;
        width: 80%;
    }
    #line-text {
        font-size: 1rem;
    }
}

@media(max-width: 850px) {
    .desktop-drop-down,
    .keyword-list {
        display: none;
    }
    .list-container {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .mobile-drop-down {
        display: inline-block;
    }
}

@media(max-width: 530px) {
    html {
        font-size: 13px;
    }
}

@media(max-width: 400px) {
    html {
        font-size: 10px;
    }
}